<nav id="barraMenu" class="bg-white align-items-center header-shadow navbar navbar-expand-lg navbar-light">
    <div class="container">
        <span id="logo" class="navbar-brand">
            <a href="/home">
                <img class="mb-0" src="assets/images/logo-rentas.png" alt="Grupo Rivero" style="width:12em">
            </a>
        </span>
        <div >
            
            <div class="text-center bg-white">
               
                <div class="my-1 my-lg-0 small-menu-text">
                    <a target="_blank" href="tel:8111608666" data-rb-event-key="tel:8111608666" class="mr-1 ml-1 mt-2 btn nav-link" style="float:left">
                        <img width="40px" src="assets/images/icons/telefono.svg" alt="telefono">
                    </a>
                    <a target="_blank" href="https://wa.me/+528110441044" data-rb-event-key="https://wa.me/+528110441044" class="mr-1 ml-1 btn NavlabelWhatsapp nav-link" style="float:left">
                        <img width="50px" src="assets/images/icons/whatsapp.jpg" alt="whatsapp"> <br> 
                        <label class="labelWhatsapp">Whatsapp</label>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>