<div class="container">
    
    <div class="row bg-dark row-negro">

        <div class="col-12 p-0 d-none d-sm-none d-md-block back-empresarial-1">
            <div class="row row3 text-white m-0">
                <div class="col-sm-4 col-12 p-0">
    
                    <div class="row m-0 mt-3" style="display: flex;flex-wrap: wrap;">
                        <div class="col-sm-2 col-12 align-content-center">
                            <img style="width: 50px;" src="assets/images/icons/icono_grua.png" class="rivero-grua-empresarial">
                        </div>
                        <div id="sincontra" class="col-sm-10 col-12 mt-2">
                            <h2 class="font-weight-bold" style="font-size: 2rem;">Sin contratiempos</h2>
                            <p id="sini" style="display: none;">- Ante cualquier inconveniente, incluido un choque, cambiamos tu vehiculo.</p>
                        </div>
                    </div>
    
                    <div class="row m-0 mt-5" style="display: flex;flex-wrap: wrap;">
                        <div class="col-sm-2 col-12 align-content-center">
                            <img style="width: 50px;" src="assets/images/icons/icono_auto.png" class="rivero-auto-empresarial">
                        </div>
                        <div id="personal" class="col-sm-10 col-12 mt-2">
                            <h2 class="font-weight-bold" style="font-size: 2rem;">Personalizado</h2>
                            <p id="perso" style="display: none;">- Beneficios a la medida de tus necesidades.</p>
                            <p id="perso" style="display: none;">- Personaliza el vehiculo con tu marca.</p>
                        </div>
                    </div>
    
                </div>
    
                <div class="col-sm-4 col-12 text-center">
                    <img src="assets/images/icons/escudo-rivero-empresarial.png" alt="rivero-escudo" class="rivero-escudo-empresarial mx-auto">
                </div>
                <div class="col-sm-4 col-12 p-0">
                    <div class="row m-0 mt-3" style="display: flex;flex-wrap: wrap;">
                        <div id="gastos" class="col-sm-10 col-12 p-0 text-right" style="text-align: right;">
                            <h2 class="font-weight-bold" style="font-size: 2rem;">Gastos deducibles y menos costos</h2>
                            <p id="gasto" style="display: none;">- Gasto deducible de impuestos.</p>
                            <p id="gasto" style="display: none;">- No pagas tenencia ni verificaciones.</p>
                        </div>
                        <div class="col-sm-2 col-12 align-content-center">
                            <img style="width: 45px;" src="assets/images/icons/icono_gastos.png" class="icono-titulo-movil">
                        </div>
                    </div>
    
                    <div class="row m-0 mt-4" style="display: flex;flex-wrap: wrap;">
                        <div id="tecnolog" class="col-sm-10 col-12 p-0 text-right" style="text-align: right;">
                            <h2 class="font-weight-bold" style="font-size: 2rem;">Tecnologia</h2>
                            <p class="text-right" id="tecno" style="display: none;">- Unidades monitoreadas por GPS.</p>
                            <p id="tecno" style="display: none;">- Dispositivos de TravelTab.</p>
                        </div>
                        <div class="col-sm-2 col-12 align-content-center">
                            <img style="width: 45px;" src="assets/images/icons/icono_tecnologia.png" class="icono-titulo-movil">
                        </div>
                    </div>
                </div>
 
            </div>

            <div class="col-12" style="position: absolute; bottom: 30px;">
                <div class="row">
                    
                    <div class="btn btn-warning mx-auto text-white p-1 font-weight-bold" data-toggle="modal" data-target="#exampleModal" style="font-size: 21px;"> ¡Renta ahora!</div>
                </div>
            </div>
        </div>
    </div>


        <div class="col-12 p-0 d-none d-sm-none d-md-block back-empresarial-2">

            <div class="col-12" style="position: absolute; bottom: 0;">
                <div class="row">

                    <div class="col-md-3 col-sm-6 col-12">
                        <h2 class="pl-3 pt-2 font-weight-bold text-white">Beneficios</h2>
                    </div>

                    <div class="col-md-3 col-sm-6 col-12">
                        <p style="margin-top: 0;margin-bottom: 1rem;color: white;"> <span class="rounded-circle bg-primary punto-list"></span> Comodidad y seguridad.</p>
                        <p style="margin-top: 0;margin-bottom: 1rem;color: white;"> <span class="rounded-circle bg-primary punto-list"></span> Unidades Modernas.</p>
                    </div>

                    <div class="col-md-3 col-sm-6 col-12">
                        <p style="margin-top: 0;margin-bottom: 1rem;color: white;"> <span class="rounded-circle bg-primary punto-list"></span> Opción de quedarte con el vehículo.</p>
                        <p style="margin-top: 0;margin-bottom: 1rem;color: white;"> <span class="rounded-circle bg-primary punto-list"></span> Monitoreo GPS 24/7.</p>
                    </div>

                    <div class="col-md-3 col-sm-6 col-12">
                        <p style="margin-top: 0;margin-bottom: 1rem;color: white;"> <span class="rounded-circle bg-primary punto-list"></span> Ahorro de de dinero.</p>
                    </div>

                </div>
            </div>
        
        </div>
    <!-- COMIENZA MOVIL -->

    <div class="container-movil-1">

        <div class="movil-back-1">
            
            <div class="col-12 text-center">
                <img src="assets/images/icons/escudo-rivero-empresarial.png" alt="rivero-escudo" class="rivero-escudo-empresarial mx-auto">
            </div>

            <div class="row m-0 mt-4" style="display: flex;margin-bottom: -10px!important">
                
                <div class="col-2 align-content-center">
                    <img src="assets/images/icons/icono_grua.png" class="icono-titulo-movil">
                </div>

                <div class="col-sm-10 col-10 p-0 text-left">
                    <h2 class="titulo-movil font-weight-bold" style="color: white;text-shadow: 1px 1px 2px black;">Sin contratiempos</h2>
                    <p style="font-size: 13px;color: white;text-shadow: 1px 1px 2px black;">- Ante cualquier inconveniente, incluido un choque, cambiamos tu vehiculo.</p>
                </div>
            </div>

            <div class="row m-0 mt-4" style="display: flex;margin-bottom: -10px!important">
                
                <div class="col-2 align-content-center">
                    <img src="assets/images/icons/icono_auto.png" class="icono-titulo-movil">
                </div>

                <div class="col-sm-10 col-10 p-0 text-left">
                    <h2 class="titulo-movil font-weight-bold" style="color: white;text-shadow: 1px 1px 2px black;">Personalizado</h2>
                    <p style="font-size: 13px; color: white;text-shadow: 1px 1px 2px black;">- Beneficios a la medida de tus necesidades.</p>
                    <p style="font-size: 13px; color: white;text-shadow: 1px 1px 2px black; margin-top: -15px;">- Personaliza el vehiculo con tu marca.</p>
                </div>
            </div>

            <div class="row m-0 mt-4" style="display: flex;margin-bottom: -10px!important">

                <div class="col-sm-10 col-10 p-0 text-right">
                    <h2 class="titulo-movil font-weight-bold" style="color: white;text-shadow: 1px 1px 2px black;">Gastos deducibles y menos costos</h2>
                    <p style="font-size: 13px; color: white;text-shadow: 1px 1px 2px black;">- Gasto deducible de impuestos.</p>
                    <p style="font-size: 13px; color: white;text-shadow: 1px 1px 2px black; margin-top: -15px;">- No pagas tenencia ni verificaciones.</p>
                </div>
                
                <div class="col-2 align-content-center">
                    <img src="assets/images/icons/icono_gastos.png" class="icono-titulo-movil">
                </div>

            </div>

            <div class="row m-0 mt-4" style="display: flex;margin-bottom: -10px!important">

                <div class="col-sm-10 col-10 p-0 text-right">
                    <h2 class="titulo-movil font-weight-bold" style="color: white;text-shadow: 1px 1px 2px black;">Tecnología</h2>
                    <p style="font-size: 13px; color: white;text-shadow: 1px 1px 2px black;">- Unidades monitoreadas por GPS.</p>
                    <p style="font-size: 13px; color: white;text-shadow: 1px 1px 2px black; margin-top: -15px;">- Dispositivos de TravelTab.</p>
                </div>
                
                <div class="col-2 align-content-center">
                    <img src="assets/images/icons/icono_tecnologia.png" class="icono-titulo-movil">
                </div>

            </div>

            <div class="col-12 text-center mt-3">
                
                <div class="row">
                    <div class="btn btn-warning mx-auto text-white p-1 font-weight-bold" data-toggle="modal" data-target="#exampleModal" style="font-size: 21px;"> ¡Renta ahora!</div>
                </div>

            </div>
        </div>
    </div>

        <!--AQUI COMIENZA BACK2 MOVIL-->
    <div class="container-movil-2">

        <div class="movil-back-2">
            <div class="col-12" style="margin-top: 240px;">
                <div class="row">

                    <div class="col-md-3 col-sm-6 col-12">
                        <h2 class="pl-3 pt-2 font-weight-bold text-white">Beneficios</h2>
                    </div>

                    <div class="col-md-3 col-sm-6 col-12">
                        <p style="margin-top: 0;margin-bottom: 1rem;color: white;"> <span class="rounded-circle bg-primary punto-list"></span> Comodidad y seguridad.</p>
                        <p style="margin-top: 0;margin-bottom: 1rem;color: white;"> <span class="rounded-circle bg-primary punto-list"></span> Unidades Modernas.</p>
                    </div>

                    <div class="col-md-3 col-sm-6 col-12">
                        <p style="margin-top: 0;margin-bottom: 1rem;color: white;"> <span class="rounded-circle bg-primary punto-list"></span> Opción de quedarte con el vehículo.</p>
                        <p style="margin-top: 0;margin-bottom: 1rem;color: white;"> <span class="rounded-circle bg-primary punto-list"></span> Monitoreo GPS 24/7.</p>
                    </div>

                    <div class="col-md-3 col-sm-6 col-12">
                        <p style="margin-top: 0;margin-bottom: 1rem;color: white;"> <span class="rounded-circle bg-primary punto-list"></span> Ahorro de de dinero.</p>
                    </div>

                </div>
            </div>
        </div>

    </div>

        <!-- MODAL -->
 
        <div class="modal fade" id="exampleModal" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                    ¡RENTA AHORA!
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                </div>
                <div class="modal-body">
                    <app-renta-cliente></app-renta-cliente>
                </div>
              </div>
            </div>
        </div>
</div>
